/** Add css rules here for your application. */
.name {
	font-size: 1em;
	font-weight: bold;
	color: blue;
	text-align: right;
	border-width: thin;
	padding-right: 1.5em;
	cursor: pointer;
}

body {
	font-family: Verdana;
}

table {
	border-collapse: collapse;
	border-width: medium;
	margin: 2em;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
}

td {
	padding-top: 1px;
	padding-left: 1em;
	padding-right: 1em;
	border-color: black;
	border-width: thin;
	border-style: inset;
	border-color: gray;
}

tr {
	padding: 5px;
}

thead {
	background: #9cf;
	text-align: center;
	border: thin black;
}

tfoot {
	background: #CCCCFF;
	text-align: center;
	border: thin black;
}

.borderOpenRight {
	border-width: thin;
	border-right-width: 0;
}

.borderOpenLeftRight {
	border-width: thin;
	border-left-width: 0;
	border-right-width: 0;
}

.borderOpenLeft {
	border-width: thin;
	border-left-width: 0;
}

.border {
	border-width: thin;
	border-color: black;
	border-style: inset;
}

.cursorPointer {
	cursor: pointer;
}

.highlight {
	background-color: #FFFF99;
}

.sortAscending {
	padding-right: 20px;
	background-image: url("icons/ascending.gif");
	background-position: right;
	background-repeat: no-repeat;
	cursor: pointer;
}

.sortDescending {
	padding-right: 20px;
	background-image: url("icons/descending.gif");
	background-position: right;
	background-repeat: no-repeat;
	cursor: pointer;
}

.sortAscendingGrey {
	padding-right: 20px;
	background-image: url("icons/ascending_grey.gif");
	background-position: right;
	background-repeat: no-repeat;
	cursor: pointer;
}

.sortDescendingGrey {
	padding-right: 20px;
	background-image: url("icons/descending_grey.gif");
	background-position: right;
	background-repeat: no-repeat;
	cursor: pointer;
}

.cursorWait {
	cursor: wait;
}

.TABLE_500 {
	height: 500px;
}

.selected {
	padding-left: 20px;
	background-image: url("icons/selected.gif");
	background-repeat: no-repeat;
	background-position: 2px;
}

.unselected {
	padding-left: 20px;
	background-image: url("icons/unselected.gif");
	background-repeat: no-repeat;
	background-position: 2px;
}